section h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

section hr {
  width: 100px;
  margin-bottom: 40px;
  border: 1px solid var(--sec);
}

.Divider {
  margin: 30px 0px;
}

.Divider hr {
  width: 100px;
  border: 1px solid var(--sec);
  margin-bottom: 0;
}

/* Grid System */
.Grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin: 10px;
}

.Container {
  display: flex;
  grid-column: 1/9;
  grid-template-columns: repeat(2, 1fr);
  float: left;
}

.Container img {
  margin: auto 20px;
  border-radius: 10%;
}

.Form {
  grid-column: 1/9;
  height: 100%;
  display: flex;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  border-left: 5px solid var(--sec);
}

.Form input {
  background: transparent;
  border: 0;
  margin: 10px;
  height: 30px;
  width: 200px;
  border-bottom: 2px solid var(--sec);
  padding: 2px;
  color: var(--extra);
  font-size: 15px;
  font-family: "Manrope";
  font-weight: normal;
}

.Form select {
  background: var(--main);
  border: 0;
  margin: 10px;
  height: 30px;
  width: 200px;
  padding: 2px;
  color: var(--extra);
  font-size: 15px;
  font-family: "Manrope";
  font-weight: normal;
}

.AddMovie {
  margin: 10px;
  height: 30px;
  width: 200px;
  padding: 2px;
  border: none;
  font-family: "Manrope";
  font-weight: normal;
  font-size: 1rem;
  color: var(--main);
  background-color: var(--sec);
  border-radius: 20px;
}

.Inputs {
  display: block;
}

.Movies {
  display: grid;
  grid-row: 3;
  grid-column: 1/9;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.Movie {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  border-left: 5px solid var(--sec);
  justify-content: space-evenly;
  padding: 0.5rem;
  width: 100%;
}

.Movie img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.Details {
  margin: auto 20px;
  width: 100%;
}

.Details h3 {
  color: var(--sec);
}
